*{
    padding: 0;
    margin:0;
}
:root{
    --primary-color:#007f84;
    --secondary-color:#54b59f;
    --text-color:#676767;
}
body{
    font-family:  'Roboto', 'sans-serif'
}
div{
    /* border: 1px solid orange; */
}
.main{
    padding-left: 100px !important;
    z-index: 9999;
}
.panjang{
    width: 100px;
    background-color: var(--primary-color) !important;
    font-weight: 700 !important;
}
.panjang:hover{
    cursor: pointer;
}
.main1{
    padding-right: 57px;
    
}
.course{
    /* color: red !important; */
    margin-right: 5px !important;
}
.main2{
    padding-right:120px;
}
.course .isi:hover{
    color: red;
}
.kotaktext{
    padding-right: 150px;
    padding-left: 100px;
    padding-top:91px;
}
.maintext{
    font-size: 56px;
    color: var(--secondary-color);
}
.secondarytext{
    font-size: 24px;
    color: #676767;
    font-weight: 800;
}
.social-media{
    color: var(--text-color);
}
.kotaktext .pelajari{
    background-color: #54b59f;
    color: white;
    transition: 100ms;
    height: 50px;
    font-weight: 700;
    font-size: 19px;
}
.kotaktext .pelajari:hover{
    background-color: white;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}
.kotaktext .pelajari:active{
    background-color:white !important;
    color: var(--secondary-color) !important;
    border: 2px solid var(--secondary-color) !important;
}
.bagian2{
    padding-top: 80px;
    padding-bottom: 80px;
}
.text2{
    font-size: 32px;
    color: var(--secondary-color);
    font-weight: 700
}
.lingkar{
    width: 46px;
    background-color: gainsboro !important;
    height: 46px;
    font-size: 20px;
    padding-top: 7px;
    transition: 100ms;
}
.blog{
    width: 80px !important;
    font-size: 15px !important; 
    padding-top: 10px;
}
.lingkar:hover{
    color: #54b59f;
    cursor: pointer;
}
.blog1{
    color: var(--text-color);
}
.blog1:hover{
    color: #54b59f !important;
}
.gambar{
    height: 200px;
}
.gambar img{
    width: 70px;
    
}
.servicestext{
    margin-right: 50px;
}
.services-container{
    padding-left: 100px;
    padding-right: 100px;
}
.logo img{
    width: 220px;
    height: 40px;
}
.frame{
    padding-left: 100px;
    padding-right: 100px;
}
.kotaktext1 .tombolSignIn{
    width: 200px;
    background-color: #54b59f;
    color: white ;
    font-weight: 700;
}
.kotaktext1 .tombolSignIn:hover{
    background-color: white;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}
@media only screen and (max-width:700px){
    .main{
        padding-left: 0px !important;
    }
    .logo img{
        width: 150px;
        height: 26px;
    }   
    .services-container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .kotaktext{
        padding-right: 50px;
        padding-left: 50px;
        padding-top:30px;
        
    }
    .foto{
        padding: 0px !important;
    }
    .frame{
        padding-left: 0px;
        padding-right: 0px;
    }
    .kotaktext1 .tombolSignIn{
        width: 100%;
        background-color: #54b59f;
        color: white ;
        font-weight: 700;
    }
    .maintext{
        font-size: 21px;
        margin-top: 10px;
        font-weight: 600;
    }
    .secondarytext{
        font-size: 16px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .kotaktext .pelajari{
        background-color: #54b59f;
        color: white;
        transition: 100ms;
        height: 50px;
        font-weight: 700;
        font-size: 13px;
        margin-bottom: 60px;
        width: 280px;
    }
    .lingkar{
        width: 26px;
        background-color: gainsboro !important;
        height: 26px;
        font-size: 12px;
        padding-top: 5px;
        transition: 100ms;
    }
    .blog{
        width: 60px !important;
        font-size: 12px !important; 
        padding-top: 5px; 
    }
    
}